<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Nova Automação</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Adicionar Nova Automação</h2>
    <form method="post" enctype="multipart/form-data" class="add_automation_form">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
    
        <label for="script">Script (arquivo .py):</label>
        <input type="file" id="script" name="script" required>        
    
        <label for="frequencia">Frequência:</label>
        <select id="frequencia" name="frequencia">
            <option value="Diário">Diário</option>
            <option value="Semanal">Semanal</option>
        </select>
    
        <label for="horario_execucao">Horário de Execução:</label>
        <input type="time" id="horario_execucao" name="horario_execucao">
    
        <button type="submit">Adicionar Automação</button>
    </form> 
    <script>
        $(document).ready(function(){
            // $('#add-automation-btn').click(function() {
            //     $('.add_automation_form').submit();  
            // });
        });
    </script>
       
</body>
</html>
