<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha Solicitada</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="reset-body">
    <div class="reset-container">
        <h2>Verifique seu e-mail</h2>
        <p>Enviamos um link de redefinição de senha para o endereço de e-mail fornecido. Por favor, verifique sua caixa de entrada.</p>
    </div>
</body>
</html>
