<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir Nova Senha</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="reset-body">
    <div class="reset-container">
        <h2>Definir Nova Senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Redefinir Senha</button>
        </form>
    </div>
</body>
</html>
