<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha Redefinida com Sucesso</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="reset-body">
    <div class="reset-container">
        <h2>Senha Redefinida com Sucesso</h2>
        <p>Sua senha foi redefinida com sucesso. Você já pode <a href="{% url 'login' %}">entrar</a> com sua nova senha.</p>
    </div>
</body>
</html>
