<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Robôs</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'index' %}">Dashboard</a></li>
            <li><a href="{% url 'debug' %}">Depurar Automação</a></li>
            <li><a href="{% url 'robots' %}">Robôs</a></li>
            <li><a href="{% url 'logs' %}">Logs</a></li> <!-- Incluí o link para Logs -->
        </ul>
    </div>   
    <div class="main-content">
        <header>
            <input type="search" id="search" placeholder="Buscar...">
            <div class="user-profile">Perfil</div>
        </header>
        
        <div class="robots-list">
            <h2>Lista de Robôs</h2>
            <div id="robots-list"></div>
            {% if automacoes %}
            <ul>
            {% for automacao in automacoes %}
                <li>{{ automacao.nome }} - {{ automacao.frequencia }} - {{ automacao.horario_execucao }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma automação encontrada.</p>
        {% endif %}
        
        </div>

        <div id="add-automation-btn">
            <a href="{% url 'add_automation' %}">+</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            function carregarRobos() {
                $.get('{% url "robots_data" %}', function(data) {
                    let lista = $('#robots-list');
                    lista.empty();
                    $.each(data, function(nome, detalhes) {
                        let statusClass = detalhes.status === 'Executado' ? 'executado' :
                                          detalhes.status.startsWith('Erro') ? 'erro' :
                                          detalhes.status === 'Executando' ? 'executando' : 'agendado';
                        lista.append(`
                            <div class="robot-item">
                                <strong>${nome}</strong><br>
                                <span class="status ${statusClass}">Status: ${detalhes.status}</span><br>
                                <span>Horário: ${detalhes.horario || 'Não especificado'}</span>
                            </div>
                        `);
                    });
                });
            }

            carregarRobos();
            setInterval(carregarRobos, 5000);

            $('#search').on('keyup', function() {
                let query = $(this).val().toLowerCase();
                $('.robot-item').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(query) > -1);
                });
            });
        });
    </script>
</body>
</html>
